body {
  background: url("./images/night.jpeg") no-repeat bottom center/cover;
  height: 100vh;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 425px) {
  body {
    height: 100%;
    width: 100%;
  }
}
.santa-claus {
  position: absolute;
  width: 200px;
  top: -50px;
  left: -300px;
  animation: flying 8s infinite ease-in;
}
@keyframes flying {
  0% {
    transform: translate(200px, 150px) rotate(-30deg);
  }
  20% {
    transform: translate(400px, 50px);
  }
  40% {
    transform: translate(600px, 150px) rotate(-30deg);
  }
  60% {
    transform: translate(800px, 50px);
  }
  80% {
    transform: translate(1000px, 150px) rotate(-30deg);
  }
  90% {
    transform: translate(1200px, 50px);
  }
  100% {
    transform: translate(1300px, 150px);
  }
}
@media screen and (max-width: 1024px) {
  @keyframes flying {
    0% {
      transform: translate(200px, 150px) rotate(-30deg);
    }
    30% {
      transform: translate(400px, 50px);
    }
    60% {
      transform: translate(600px, 150px) rotate(-30deg);
    }
    75% {
      transform: translate(800px, 50px);
    }
    100% {
      transform: translate(1024px, 150px) rotate(-30deg);
    }
  }
}
@media screen and (max-width: 768px) {
  .santa-claus {
    position: absolute;
    width: 150px;
    top: -10px;
  }
  @keyframes flying {
    0% {
      transform: translate(150px, 100px) rotate(-30deg);
    }
    30% {
      transform: translate(300px, 10px);
    }
    60% {
      transform: translate(450px, 100px) rotate(-30deg);
    }
    75% {
      transform: translate(600px, 10px);
    }
    100% {
      transform: translate(780px, 100px) rotate(-30deg);
    }
  }
}
@media screen and (max-width: 425px) {
  .santa-claus {
    position: absolute;
    width: 90px;
    top: -10px;
  }
  @keyframes flying {
    0% {
      transform: translate(90px, 100px) rotate(-30deg);
    }
    430% {
      transform: translate(200px, 10px);
    }
    60% {
      transform: translate(300px, 100px) rotate(-30deg);
    }
    100% {
      transform: translate(400px, 100px) rotate(-30deg);
    }
  }
}
.snow-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.snowing {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
}
.one {
  top: -20px;
}
.two {
  top: -160px;
}
.three {
  top: -20px;
}
.four {
  top: -160px;
}
.five {
  top: -20px;
}
.six {
  top: -160px;
}
.seven {
  top: -20px;
}
.crystal1 {
  position: absolute;
  width: 20px;
  animation-name: falling, wave;
  animation-duration: 16s, 13s;
  animation-delay: 0.3s, 0.3s;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: ease-in, ease-in-out;
  transition: 6s ease-in-out;
}
.crystal2 {
  position: absolute;
  width: 20px;
  animation-name: falling, wave2;
  animation-duration: 10s, 7s;
  animation-delay: 0.3s, 0.3s;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: ease-in, ease-in-out;
  left: 90px;
  transition: 6s ease-in-out;
}
@keyframes falling {
  0% {
    top: -10%;
    transition: 6s ease-in-out;
  }
  100% {
    top: 100%;
    transition: 6s ease-in-out;
  }
}
@keyframes wave {
  0% {
    left: 0px;
  }
  15% {
    left: 40px;
  }
  30% {
    left: -40px;
  }
  45% {
    left: 40px;
  }
  60% {
    left: -40px;
  }
  75% {
    left: 40px;
  }
  90% {
    left: -40px;
  }
  100% {
    left: 0px;
  }
}
@keyframes wave2 {
  0% {
    left: 0px;
  }
  15% {
    left: 130px;
  }
  30% {
    left: 50px;
  }
  45% {
    left: 130px;
  }
  60% {
    left: 50px;
  }
  75% {
    left: 130px;
  }
  90% {
    left: 50px;
  }
  100% {
    left: 0px;
  }
}
p {
  color: blue;
}
@media screen and (max-width: 425px) {
  .crystal2 {
    left: 30px;
    transition: 6s ease-in-out;
  }
}
/* .children {
  position: absolute;
  top: 370px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 200px;
}
.christmas-boy {
  left: 35%;
  animation: toright 2s alternate;
  position: absolute;
}
.boy {
  width: 180px;
}
@keyframes toright {
  0% {
    left: -100%;
  }
  100% {
    left: 35%;
  }
}
.christmas-girl {
  right: 35%;
  animation: toleft 2s alternate;
  position: absolute;
}
.girl {
  width: 120px;
}
@keyframes toleft {
  0% {
    right: -100%;
  }
  100% {
    right: 35%;
  }
} */
.text {
  position: absolute;
  bottom: 250px;
  text-align: center;
  transform: translateX(420px);
}
.xmas-txt {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 900;
  margin-top: 0px;
}
.xmas {
  font-size: 50px;
}
@media screen and (max-width: 1240px) {
  .text {
    transform: translateX(300px);
  }
  .xmas-txt {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .text {
    transform: translateX(250px);
  }
  .xmas-txt {
    margin-bottom: 10px;
  }
  .xmas-txt {
    font-size: 30px;
  }
  .xmas {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .text {
    transform: translateX(200px);
  }
  .xmas-txt {
    margin-bottom: 0px;
  }
  .xmas-txt {
    font-size: 20px;
  }
  .xmas {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .text {
    transform: translateX(80px);
  }
  .xmas-txt {
    margin-bottom: 0px;
  }
  .xmas-txt {
    font-size: 20px;
  }
  .xmas {
    font-size: 30px;
  }
}
.messagebox {
  position: absolute;
  left: 45%;
  bottom: 100px;
  border-radius: 50px;
}
.oval {
  width: 150px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(95, 95, 95, 0.5);
}
.box {
  width: 150px;
  animation: shake 1s infinite alternate;
}
@keyframes shake {
  from {
    width: 170px;
  }
  to {
    width: 150px;
  }
}
@media screen and (max-width: 1130px) {
  .box {
    width: 90px;
  }
  @keyframes shake {
    from {
      width: 110px;
    }
    to {
      width: 90px;
    }
  }
  .oval {
    width: 90px;
    height: 12px;
  }
  .messagebox {
    position: absolute;
    left: 50%;
    bottom: 100px;
    border-radius: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .messagebox {
    position: absolute;
    left: 45%;
    bottom: 100px;
    border-radius: 50px;
  }
}
@media screen and (max-width: 768px) {
  .messagebox {
    position: absolute;
    left: 43%;
    bottom: 100px;
    border-radius: 50px;
  }
}
.star {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: rotate(360deg);
  animation: round 2s infinite alternate;
}
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.xmas-star {
  width: 100px;
}
@media screen and (max-width: 768px) {
  .xmas-star {
    width: 80px;
  }
}
@media screen and (max-width: 425px) {
  .xmas-star {
    width: 50px;
  }
}
.xmas-audio {
  position: absolute;
  bottom: 30px;
  left: 39%;
  opacity: 0.7;
  height: 30px;
}
@media screen and (max-width: 1024px) {
  .xmas-audio {
    width: 200px;
    height: 30px;
    left: 40%;
  }
}
@media screen and (max-width: 768px) {
  .xmas-audio {
    width: 200px;
    height: 30px;
    left: 35%;
  }
}
@media screen and (max-width: 425px) {
  .xmas-audio {
    width: 200px;
    height: 30px;
    left: 30%;
  }
}
